.container {
  --arrow-width: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.arrowUp {
  border-bottom: solid 2px;
  border-right: solid 2px;
  width: var(--arrow-width);
  height: var(--arrow-width);
  transform: rotate(225deg);
  margin-top: 7px;
}

.arrowDown {
  border-bottom: solid 2px;
  border-right: solid 2px;
  width: var(--arrow-width);
  height: var(--arrow-width);
  transform: rotate(45deg);
  margin-bottom: 6px;
}

.content {
  margin: 0 10px;
}
